*{
    padding:0;
    margin:0;
}
header{
    background-color: darkblue;
    height:80px;
    width:100%;
}
header h1{
    color:white;
    position:absolute;
    left:160px;
    top:0;
    line-height: 80px;
}
header a{
    color:white;
    text-decoration: none;
    border:2px solid #ffffff;
    padding:10px 10px;
    border-radius:10px;
}
header a:hover{
    text-decoration: underline;
}
header ul{
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li{
    display:inline;
    margin: right 4vw;
}
.搜索{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(100, 100, 255);
    background-image: url("images/华理校园.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.搜索 h1{
    font-size:50px;
    color:darkblue;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding:10px 20px;
}
.搜索 h2{
    font-size:20px;
    color:darkblue;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding:10px 20px;
}

footer{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
}